db.sqlite3
/.idea
*__pycache__
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.env
*.DS_Store
*.egg-info/
*.egg
*.venv/
*.virtualenv/
*.pytest_cache/
*.coverage
*.migrations/
*.static/
*.media/
*.cache/
*.local/
*.swp
*.swo
*.sublime-project
*.sublime-workspace
.idea/
.vscode/